AddType application/x-chrome-extension .crx
DirectoryIndex index.cgi index.html
AddOutputFilterByType DEFLATE text/css text/html text/xml text/plain text/javascript application/x-javascript application/javascript application/json application/x-sh
