@import url(http://fonts.googleapis.com/css?family=Actor);
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono);

html,
body {
	overflow: hidden;
}

body {
	font-family: 'Actor', sans-serif;
	font-size: 14px;
	color: #e0e0e0;
	background-color: #444444;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: #D19559;
}

#tree a {
	color: #e0e0e0;
}

input[type="text"] {
	background-color: transparent;
	border-style: none;
	color: #e0e0e0;
}

#currently-playing,
.tab-content,
#tree,
.search-container {
	background-color: #313131;
	border-top-color:  #573B1F;
	border-left-color: #573B1F;
	border-bottom-color: #87592C;
	border-right-color:  #87592C;
}

#currently-playing,
.search-container,
.button {
	display: inline-block;
	border-radius: 10px;
}

#currently-playing,
#tree,
.tab-content,
.search-container,
.button {
	margin: 2px;
	border-style: solid;
	border-width: 1px;
	padding: 2px;
}

#tree,
.tab-content {
	border-radius: 15px;
}

#tree-mode-select,
#volume-control,
.button {
	background-color: #313131;
}

#tree-mode-select,
#volume-control,
#play-button-wrapper,
#player,
#tabs a,
.button,
#navigation,
#content {
	border-top-color:  #87592C;
	border-left-color: #87592C;
	border-bottom-color: #573B1F;
	border-right-color:  #573B1F;
}

.buy {
	width: 50px;
	text-align: center;
	padding: 5px;
	font-size: 20px;
	font-weight: bold;
}

.input-clear {
	font-weight: bold;
	padding: 2px;
}

input {
	outline: none;
}

li.active {
	font-weight: bold;
}

#play-button-wrapper,
#player,
#navigation,
#content {
	background-color: #453D33;
	border-radius: 20px;
	border-style: solid;
	border-width: 1px;
	box-shadow: inset 15px 20px 30px #52483C;
}

.inner-area {
	border-radius: 19px;
	padding: 10px;
	box-shadow: inset -15px -20px 30px #39322A;
}

#player-wrapper {
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
}

#player {
	position: relative;
	width: 500px;
	margin: auto;
	border-radius: 30px;
	border-width: 5px;
	border-top-style: none;
	z-index: 1000;
}

#player .inner-area {
	border-radius: 25px;
	height: 75px;
}

#player,
#player .inner-area {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

#play-button-wrapper {
	position: absolute;
	left: -20px;
	bottom: -20px;
	border-style: solid;
	border-width: 10px;
	border-radius: 80px;
	width: 80px;
	height: 80px;
}

#play-button-wrapper .inner-area {
	border-radius: 70px;
	width: 60px;
	height: 60px;
}

#play-button-wrapper a {
	outline: none;
}

#play-button-wrapper img {
	width: 60px;
	height: 60px;
}

#status,
#player-buttons {
	position: absolute;
	bottom: 10px;
}

#player-hide,
#player-show {
	position: absolute;
	bottom: 6px;
}

#player-buttons {
	left: 65px;
}

#player-buttons .button {
	margin: -3px; /* why not 0px? */
	padding-left: 5px;
	padding-right: 5px;
}

#stop-button,
#previous-button {
	border-radius: 0px;
}

#stop-button.button {
	padding-left: 20px;
}

#next-button.button {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	margin-right: 10px;
}

#player-hide,
#player-show {
	right: 20px;
	width: 20px;
	text-align: center;
}

#status {
	right: 60px;
}

#waiting {
	width: 16px;
	height: 16px;
	margin-right: 10px;
	background-image: url("spinner.gif");
}

#tree-mode-select {
	position: absolute;
	list-style: none;
	border-radius: 10px;
	border-width: 1px;
	border-style: solid;
	padding: 5px;
	white-space: nowrap;
}

#tabs {
	margin-left: -11px;
	margin-top: -11px;
}

#tabs li a {
	display: inline-block;
	background-color: #313131;
	border-style: solid;
	border-width: 1px;
	margin: 0;
	padding: 5px 20px;
	margin-left: -3px; /* why? */
}

#tabs li.first a {
	margin-left: 0px;
	padding-left: 25px;
	border-top-left-radius: 20px;
}

#tabs,
#breadcrumbs {
	list-style: none;
	padding: 0;
	white-space: nowrap;
}

#breadcrumbs li,
#tabs li {
	display: inline-block;
}

#about {
	position: absolute;
	right: 15px;
	top: 10px;
	font-weight: bold;
}

#breadcrumbs li:before {
	content: "»";
	margin-left: 0.5em;
	margin-right: 0.5em;
}

#breadcrumbs li.first:before {
	content: "";
}

#playlist {
	width: 100%;
}

.dragged,
#tree,
.playlist {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#tree ul.songs {
	cursor: default;
}

.dragged {
	position: absolute !important;
	filter: alpha(opacity = 50) !important;
	opacity: 0.5 !important;
	pointer-events: none !important;
	cursor: default;
}

.playlist {
	border-collapse: separate;
	border-spacing: 0px;
	empty-cells: show;
}

.playlist td {
	padding: 2px;
}

.playlist td.number {
	width: 3em;
}

.playlist td.duration {
	width: 4em;
}

.playlist td.remove {
	width: 1em;
}

.playlist tr.current {
	font-weight: bold;
}

.playlist tr {
	cursor: default;
}

.playlist tr td,
.playlist tr th {
	border-bottom: 2px solid transparent;
	border-top:    2px solid transparent;
}

.playlist tr.drop.after td,
.playlist tr.drop.after th {
	border-bottom: 2px solid gray;
}

.playlist tr.drop.before td,
.playlist tr.drop.before th {
	border-top: 2px solid gray;
}

.dragged.playlist tr td,
.dragged.playlist tr th {
	border-bottom: 2px solid transparent !important;
	border-top:    2px solid transparent !important;
}

.playlist tr.selected {
	background-color: #503B28;
}

#volume-control {
	position: absolute;
	border-radius: 10px;
	border-width: 1px;
	border-style: solid;
	padding: 5px;
}

th {
	text-align: left;
}

.number, .duration {
	font-family: 'Ubuntu Mono', monospace;
	text-align: right;
}

#navigation,
#content {
	position: absolute;
	bottom: 10px;
	top: 110px;
	min-height: 100px;
	overflow: hidden;
}

#navigation {
	left: 10px;
	width: 350px;
}

#content {
	left: 375px;
	right: 10px;
	min-width: 100px;
}

#navigation .inner-area,
#content .inner-area {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	top: 0px;
}

#tree {
	position: absolute;
	left: 10px;
	right: 10px;
	bottom: 10px;
	top: 40px;
}

#play-progress-container,
#buffer-progress {
	width: 380px;
}

#currently-playing {
	position: absolute;
	right: 20px;
	width: 385px;
	bottom: 60px;
	padding-left: 5px;
	padding-right: 5px;
	overflow: hidden;
	white-space:nowrap;
}

#play-progress-container {
	position: absolute;
	right: 20px;
}

#play-progress-container {
	bottom: 40px;
	background-color: #313131;
	height: 10px;
	cursor: pointer;
	border-radius: 10px;
}

#play-progress {
	position: relative;
}

#play-progress-knob {
	position: absolute;
	width: 10px;
	height: 10px;
	right: -5px;
	top: -2px;
	bottom: 0px;
	border-radius: 10px;
	border: 2px solid #87592C;
	background-color: #313131;
}

#buffer-progress {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	height: 10px;
	border-radius: 10px;
}

#play-progress {
	height: 100%;
}

#volume-bar-container {
	background-color: #101010;
	height: 150px;
	margin: auto;
	margin-top: 5px;
	cursor: pointer;
	position: relative;
	width: 10px;
	border-radius: 5px;
}

#volume-bar {
	background-color: #87592C;
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	border-radius: 5px;
}

#volume {
	text-align: center;
}

#volume-control {
	width: 40px;
}

.artist img.bandphoto,
.album  img.cover {
	float: right;
	margin-left: 10px;
}

img {
	border-style: none;
}

#volume-control,
#tree-mode-select {
	z-index: 1001;
}

.navigation-head {
	position: relative;
}

#search {
	width: 255px;
}

#tree-mode-button {
	position: absolute;
	right: 0px;
	top: 0px;
	bottom: 0px;
}

table.albums .cover,
.genre table .cover,
#tree .album img {
	width: 50px;
	height: 50px;
}

table.albums tr td {
	height: 50px;
}

#tree .album {
	height: 50px;
}

#tree {
	margin-top: 10px;
	overflow: auto;
	white-space: nowrap;
}

#tree a {
	outline: none;
	display: block;
}

#tabs a,
a.button {
	outline: none;
}

#tree ul {
	padding-left: 10px;
	list-style: none;
}

#tree .expander {
	float: left;
	margin-right: 5px;
}

#tree .album-head .expander {
	line-height: 50px;
}

#tree a.album-head {
	height: 50px;
	position: relative;
	margin-bottom: 5px;
}

#tree a.album-head table {
	position: absolute;
	left: 15px;
}

#tree ul ul {
	padding-left: 25px;
}

#info-content {
	padding: 15px;
	padding-top: 0px;
}

.tab-content {
	position: absolute;
	overflow: auto;
	left: 10px;
	right: 10px;
	bottom: 10px;
	top: 75px;
}

#current-time-duration {
	cursor: default;
	font-family: monospace;
}

.also {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 210px;
	margin-right: 10px;
	padding-bottom: 10px;
}

.tab-content .album {
	margin-right: 220px;
}
